---
import { Image } from "astro:assets";
import {
  Mail,
  MapPin,
  Facebook,
  Instagram,
  Youtube,
  Linkedin,
} from "@lucide/astro";

import carreras from "@/consts/carreras";
import logoUnagBlanco from "@assets/img/logo-unag-blanco.png";
import hojaDesenfocada from "@assets/img/hojas/hoja-desenfocada.webp";
import hojaDesencadda02 from "@assets/img/hojas/hoja-desenfocada-02.webp";
import LinkUnderline from "@/components/astro/navigation/link-underline.astro";


const year = new Date().getFullYear();

---

<section
  id="frase-footer"
   class="shadow-md relative z-2 flex h-30 lg:h-60 w-[80%] rounded-2xl translate-y-4 mx-auto mb-[-30px] 
         overflow-hidden 
         before:content-[''] before:absolute before:inset-0 before:bg-black/40 before:rounded-2xl before:z-0 
         before:transition-transform before:duration-500 before:ease-out
         after:content-[''] after:absolute after:inset-0 after:z-[-1] after:rounded-2xl
         after:bg-[url('/img/bg-frase-footer.webp')] after:bg-center after:bg-no-repeat after:bg-cover
         after:transition-transform after:duration-500 after:ease-out
         hover:after:scale-110 "
>
  <div class="flex flex-col z-3 max-w-lg mx-auto my-auto">
    <p class="text-white text-[14px] lg:text-[28px] font-extrabold italic -translate-x-7 lg:-translate-x-40">FORMANDO EL</p>
    <p class="text-unag-yellow text-[20px] lg:text-[45px] font-extrabold italic leading-none">FUTURO <span class="text-white text-[14px] lg:text-[28px]">DE</span></p>
    <p class="text-unag-yellow text-[20px] lg:text-[45px] font-extrabold italic leading-none translate-x-8 lg:translate-x-40">HONDURAS</p>
  </div>

</section>

<section class="text-[12px] h-auto relative overflow-hidden">
  <div id="hojas-footer">
    <div
      class="absolute z-1 bottom-70 lg:translate-y-0 lg:bottom-10 -translate-x-10 select-none rellax"
    >
      <Image
        class="w-40 lg:w-65"
        loading="lazy"
        src={hojaDesenfocada}
        alt="UNAG Logo"
        aria-hidden="true"
        decoding="async"
        fetchpriority="low"
      />
    </div>
    <div class="absolute z-1 right-0 lg:right-10 translate-x-10 translate-y-8 lg:translate-y-0 select-none rellax">
      <Image
        class="w-30 lg:w-40"
        loading="lazy"
        src={hojaDesencadda02}
        alt="UNAG Logo"
        aria-hidden="true"
        decoding="async"
        fetchpriority="low"
      />
    </div>
    <div
      class="hidden lg:flex absolute z-1 right-0 bottom-100 lg:bottom-60 translate-x-10 rotate-90 rellax"
    >
      <Image
        class="w-25 lg:w-25"
        loading="lazy"
        src={hojaDesenfocada}
        alt="UNAG Logo"
        aria-hidden="true"
        decoding="async"
        fetchpriority="low"
      />
    </div>
  </div>

  <footer
    class="relative overflow-hidden bg-unag-dark-green dark:bg-background text-white text-center h-auto min-[1080px]:h-screen min-[2560px]:h-[90vh] p-6 lg:p-15"
  >
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 justify-items-center pt-10">
      <div class="w-full h-50 justify-items-start">
        <Image
          class="w-70 lg:w-50"
          src={logoUnagBlanco}
          alt="UNAG Logo"
          loading="lazy"
        />
        <div class="mt-5">
          <p class="flex gap-2"><Mail size={20} /> info@unag.edu.hn</p>
          <p class="flex gap-2 mt-2"><MapPin size={20} /> Catacamas, Olancho</p>
        </div>
        <div class="flex mt-5 gap-3 scale-75 origin-left">
          <a class="bg-unag-green rounded-full p-2" href="https://www.facebook.com/UNAGHonduras/"><Facebook /></a>
          <a class="bg-unag-green rounded-full p-2" href="https://www.instagram.com/Unag_Honduras/"><Instagram /></a>
          <a class="bg-unag-green rounded-full p-2" href="https://www.youtube.com/channel/UCamAkfDoiAe9zPcnHRswuIg"><Youtube /></a>
          <a class="bg-unag-green rounded-full p-2" href="https://www.linkedin.com/in/unaghonduras/"><Linkedin /></a>
        </div>
      </div>

      <div class="w-full h-fit mt-5 lg:mt-0">
        <h2
          class="text-start p-1 border-b-3 border-unag-green font-bold font-bold"
        >
          Carreras
        </h2>
        <ul class="mt-5 text-start space-y-1">
          {
            carreras.map((carrera) => (
              <li>
                <LinkUnderline href={carrera.link}>{carrera.nombre}</LinkUnderline>
              </li>
          ))
          }
  
        </ul>
      </div>

      <div class="w-full h-fit">
        <h2 class="text-start p-1 border-b-3 border-unag-green font-bold">
          Admisiones
        </h2>
        <ul class="mt-5 text-start space-y-1">
          <li>
            <LinkUnderline href="/admisiones/procesos-de-admision/"
              >Procesos de Admisión</LinkUnderline
            >
          </li>
          <li>
            <LinkUnderline href="/admisiones/requisitos/"
              >Requisitos para ingresar a la Universidad Nacional de Agricultura</LinkUnderline
            >
          </li>
          <li>
            <LinkUnderline href="/admisiones/preguntas-frecuentes">Preguntas Frecuentes</LinkUnderline>
          </li>
        </ul>
      </div>

      <div class="w-full h-fit">
        <h2 class="text-start p-1 border-b-3 border-unag-green font-bold">
          Plataformas
        </h2>
        <ul class="mt-5 text-start space-y-1">
          <li>
            <LinkUnderline href="https://portal.unag.edu.hn/matricula/login" target="_blank">Ingresar ERP</LinkUnderline>
          </li>
          <li>
            <LinkUnderline href="https://sys.unag.edu.hn/login" target="_blank">SysUNAG</LinkUnderline>
          </li>
          <li>
            <LinkUnderline href="https://sys.unag.edu.hn/login_egresados" target="_blank">Sistema de Egresados</LinkUnderline>
          </li>
          <li>
            <LinkUnderline href="https://moodle.unag.edu.hn/" target="_blank">Campus Virtual</LinkUnderline>
          </li>
          <li>
            <LinkUnderline href="https://sed.unag.edu.hn/" target="_blank"
              >Sistema de Educación a Distancia</LinkUnderline
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-center mt-15">
      <p class="mt-10">
        ©{year} Universidad Nacional de Agricultura - Todos los derechos
        reservados. <br />
        <a
          class="text-unag-light-green"
          href="https://setic.unag.edu.hn"
          target="_blank"
          >Secretaría de Tecnologías de la Información y Comunicación (SETIC)</a
        >
      </p>
    </div>

    <div
      id="lema-aprender-haciendo"
      class="pointer-events-none select-none overflow-visible h-50"
    >
      <h1
        class="absolute right-0 bottom-0 -translate-y-1/2 font-black italic text-[65px] lg:text-[240px] xl:text-[10vw] leading-none"
      >
        APRENDER
      </h1>
      <h1
        class="absolute right-0 bottom-0 translate-y-1/4 font-black text-unag-green italic text-[65px] lg:text-[210px] xl:text-[10vw] leading-none"
      >
        HACIENDO
      </h1>
    </div>
  </footer>
</section>
