---
import Layout from "@/layouts/main.astro";
import HeaderPages from "@/components/astro/ui/header-bg-pages.astro";
import PersonalCard from "@/components/astro/ui/personal-card.astro";
import Contacto from "@/components/astro/ui/contacto.astro";

const content = {
  title: "Secretaría General | UNAG",
};

export const prerender = true;

const infoEquipo = [
  {
    nombreCompleto: "Francisco Javier Medina Cabrera",
    nombre: "Francisco",
    apellido: "Medina",
    cargo: "Secretario General",
    correo: "",
  },
  {
    nombreCompleto: "Lic. Juana Iris Barahona",
    nombre: "Juana",
    apellido: "Barahona",
    cargo: "Jefe de Registro de la Unidad de Estudios y Registros Académicos",
    correo: "unidadregistroacademicos@unag.edu.hn",
  },
  {
    nombreCompleto: "Lic. Elvia Dayana Menjibar Guzmán",
    nombre: "Elvia",
    apellido: "Menjibar",
    cargo: "Sección Estadísticas y Becas",
    correo: " emenjibar@unag.edu.hn",
  },
  {
    nombreCompleto: "Lic. Adonis Andrade",
    nombre: "Adonis",
    apellido: "Andrade",
    cargo: "Sección de Archivo de la S.G.",
    correo: " aandrade@unag.edu.hn",
  },
  {
    nombreCompleto: "Lic. Jabes Ulises Vásquez Umanzor",
    nombre: "Jabes",
    apellido: "Vásquez",
    cargo: "Sección de Títulos y carnetización",
    correo: " jvasquez@unag.edu.hn",
  },
  {

    nombreCompleto: "Lic. Pamela Fernanda Zapata Ulloa",
    nombre: "Pamela",
    apellido: "Zapata",
    cargo: "Asistente de S.G.",
    correo: "secretariageneral@unag.edu.hn",
  },
  {
    nombreCompleto: "Lic. Paola Lizeth Martínez",
    nombre: "Paola",
    apellido: "Martínez",
    cargo: "Historiales, Constancias y Certificaciones",
    correo: "unidadregistroacademicos@unag.edu.hn",
  },
];

const jefe = infoEquipo.slice(0, 1);
const equipo = infoEquipo.slice(1, infoEquipo.length);
---

<Layout content={content}>
  <HeaderPages
    imagen="/img/bg-default-unag-02.webp"
    etiqueta="Organización"
    titulo="Secretaría General"
    descripcion="Responsable de gestionar y mantener los registros académicos y administrativos de la Universidad Nacional de Agricultura."
  />

  <section
    class="text-unag-gray text-sm max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16"
  >
    <div class="prose prose-sm prose-unag-gray max-w-none mb-12 space-y-6">
      <p>
        La Secretaría General (SG) como parte del nivel de Dirección Ejecutiva
        de la Universidad Nacional de Agricultura, es responsable de registrar,
        custodiar, archivar y dar fe pública de todos los actos
        académico-administrativos que se susciten en la institución. Es el
        órgano de comunicación oficial interna y externa de la Universidad, que
        cuenta con un titular denominado Secretario(a) General.
      </p>
      <p>
        En esta instancia se promueve cumplir a cabalidad con las funciones
        establecidas bajo la premisa del desarrollo de una cultura de calidad
        con compromiso, eficiencia, transparencia, uso racional de recursos y
        buscando la mejora continua en los procesos para garantizar la
        satisfacción de los usuarios.
      </p>
      <p>
        Para cumplimiento de sus funciones y ofrecer una atención oportuna, la
        Secretaría General cuenta con dependencias como: Secretaría del Consejo
        Superior Universitario y Registros Institucionales, la Unidad de
        Estudios y Registros Académicos dentro de la cual se incluye la Sección
        de Registro, Sección de Estadísticas y Becas, Sección de Archivo,
        Sección de Títulos y Carnetización.
      </p>
    </div>

    <h1 class="font-bold">Personal:</h1>

    {
      jefe.map((persona) => (
        <PersonalCard
          nombreCompleto={persona.nombreCompleto}
          nombre={persona.nombre}
          apellido={persona.apellido}
          cargo={persona.cargo}
          correo={persona.correo}
        />
      ))
    }

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
      {
        equipo.map((persona) => (
          <div class="">
            <PersonalCard
              nombreCompleto={persona.nombreCompleto}
              nombre={persona.nombre}
              apellido={persona.apellido}
              cargo={persona.cargo}
              correo={persona.correo}
            />
          </div>
        ))
      }
    </div>

    <div class="mt-15">
        <Contacto 
            departamento="la Secretaría General"
            correo="secretariageneral@unag.edu.hn"
        />
    </div>
  </section>
</Layout>
