---
import Layout from '@/layouts/main.astro';
import HeaderPages from '@/components/astro/ui/header-bg-pages.astro';
import cocoinDocumentos from '@/consts/cocoin';
import ArchivoCard from '@/components/astro/ui/archivo-card.astro';
import Accordeon from '@/components/astro/ui/accordeon.astro';

const content = {
    title: 'COCOIN | UNAG'
}

export const prerender = true;

---

<Layout content={content}>
    <HeaderPages
        imagen="/img/bg-default-unag.webp"
        etiqueta="UNAG"
        titulo="COCOIN"
        descripcion="El Subcomité de Control Interno Institucional es un conjunto de procesos y mecanismos implementados por la UNAG para garantizar la eficiencia, transparencia y responsabilidad en la gestión administrativa, financiera y académica."
        
    />

    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
        <div class="mb-12 text-center max-w-3xl mx-auto">
            <h2 class="text-3xl font-bold text-unag-dark-green mb-4">Componentes</h2>
        </div>

        <div class="space-y-4">
            {cocoinDocumentos.map((categoria) => (
                <Accordeon etiqueta={categoria.categoria}>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                        {categoria.documentos.map((doc) => (
                            <ArchivoCard 
                                titulo={doc.title} 
                                fecha={doc.date} 
                                archivo={doc.file} 
                            />
                        ))}
                    </div>
                </Accordeon>
            ))}
        </div>
        
        
    </section>
</Layout>   